<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Blog</title>
<style>
    body{
        background-color: black;
    }
h1{
    font-size: 75px;
    text-align: center;
    color:red;
}
label{
    font-size: 30px;
    color:red;
}

h3{
    text-align:center;
    color:lightcoral;
}

p{
color:red;   
}

</style>
</head>
<body>
    <div class="container">
<h1 class="mb-4">Movie Review</h1>

<form action="/articles" method="POST">
<%- include('_form_fields')  %>
</form>
<br>
<hr>
<h3>Scroll Down for Articles of movie</h3>
<br>
<h1>John Wick</h1>
<br>
<p>It was just a guy’s name. You could guess that he was played by Keanu Reeves, given that we’d seen laughing with a woman over a meal and kissing her against a picture-postcard vision of Manhattan’s skyline. Then we go from Sad Keanu sitting bedside in a hospital to Sadder Keanu standing graveside as a coffin is lowered into the ground. Later, he gets his wife’s posthumous gift to him: a puppy. The man and his dog, who is indeed adorable by any standard, tool around in his vintage Mustang. We know something else happened, because we’ve also briefly glimpsed Bloody Keanu, lying battered on a warehouse floor. But as far we knew, this was a movie about a gentleman — he’s called John — who lives in an exceedingly well-furnished apartment, is deep in the throes of grief and has only his faithful companion to help him move on. Maybe the pooch will teach him how to love again. Maybe he’ll meet someone nice at the dog park. The title told you nothing. It was just a guy’s name.
    Let’s say a viewer was lucky enough to go in cold to John Wick back in 2014, knowing nothing else other than that it featured a movie star who had seen better box-office days. He or she might have suspected things were about to take a turn when some Russian guys start hassling him at a gas station. They like his car. Later, they pay him a visit and, well, you ever heard that George Lucas quote about the easiest way to get an audience emotionally involved is to have someone wring a kitten’s neck? It applies to other cute furry animals as well
</p>

<p>
    In strictly cinematographic terms, Parabellum functions less like an action movie and more like a Hollywood studio musical. The film’s first battle is a close-quarters knife fight in an antique weapons shop, where the camera cuts from wide shot to wide shot, sustaining the action in long takes so that the audience can better appreciate the physical prowess of Reeves’ performance — an elaborate fighting style that combines Japanese judo and jujitsu, Brazilian jujitsu, Russian sambo, Filipino kali, and Muay Thai, more for the benefit of show than for self-defense. 
    There’s something to relish in every razor-sharp frame of Parabellum, whether it’s the way Laustsen’s light rakes across a brick wall or wraps around an actor’s face, or the textures of Kevin Kavanaugh’s ornate production design, or costume designer Luca Mosca’s fashions, which range from the impeccable to the dilapidated. The movie possesses a coiled, thrumming energy — rain-soaked, neon-lit, and deeply textured, without a stray line or contour in its design. “Everyone had to be on the same page,” Stahelski says. “The first thing we do in preproduction is get all the department heads together in the same room. We’re all looking at the same reference images. Everyone goes to the stunt rehearsals. No one works in a bubble.”
</p>

<br>
<hr>

<h1>Creed</h1>
<br>

<p>
    This article explores the ways in which director Ryan Coogler’s 2015 film Creed reactivates the Rocky franchise and provides an actualization of the themes of race and contemporary masculinity inherent in American boxing cinema. By defining Creed as a legacy film, a method of franchise nostalgia concerned with inheritance, we explain how the movie constitutes a passing-of-the-torch ritual in Hollywood. If Stallone’s Rocky gave audiences a glimpse into Italian-American working-class identity and Cold War politics distilled in the boxing ring, Coogler’s Creed delves into contemporary black identity and inner-city experience in Philadelphia. We trace a brief genealogy of mainstream American boxing films in terms of how they portray masculinity and racial identity and then explore the particular narrative and symbolic elements that are transferred from Rocky to Creed. Via this case study, we describe a wider industry trend in Hollywood in which burnt-out or dormant franchises are revitalized for contemporary global audiences.
</p>
<br>
<p>
    Creed is the first of the Rocky films that Stallone didn’t write. You’d expect resentment. After all, who is this Coogler kid to tell Stallone how Rocky should behave? Here’s the thing: Coogler says he used to watch the Rocky films with his father, making his version a love letter to the series not a correction. You can feel Coogler’s affection for the material in every frame. Hell, the story Coogler cooked up with co-writer Aaron Covington is a virtual template  of the first film. Adonis — Donny to his buds — came up out of foster homes, a chip firmly ensconced on his shoulder. It’s Apollo’s widow (Phylicia Rashad), forgiving her husband’s infidelity,  who saves the boy from the system and takes him into her lush Los Angeles home. But Donny stays a troublemaker, taking fights in Mexico to work out the rage inside. From the minute Donny decides his dad’s old friend Rocky is the only guy who can train him, he’s off to Philadelphia, where Rocky runs a restaurant named Adrian’s, after his late wife, the script practically writes itself.
</p>

<br>

<h1>Dark Knight</h1>
<br>

<p>
    The fact is, Nolan had only found his way to the Batman franchise because it was a distressed asset. After distinguishing himself with neo-noir crime dramas such as Memento and Insomnia, Nolan was handed the keys to the character by Warner Bros., years after the financial failure of 1997’s Batman & Robin. Nolan’s 2005 reboot, Batman Begins, was well received and a solid box-office hit, but nothing on the scale of The Dark Knight, which made almost three times as much worldwide. The film was so beloved that its Best Picture Oscar snub led to public outcry, which in turn prompted the Academy to widen its nomination field to 10 films the next year.

    The Dark Knight legitimized comic-book movies—not with audiences (who, after all, made the original Batman a huge success in 1989), but with studios. In a way, superheroes in cinema have always followed trends set by the Batman franchise. The throwback, Gothic feel of Tim Burton’s 1989 film inspired the revival of goofier vintage properties such as Dick Tracy, The Shadow, and The Phantom in the 1990s, while Marvel’s more modern characters were ignored. The failure of the supremely garish Batman & Robin convinced studios to hire more acclaimed directors for future projects, such as Sam Raimi for Spider-Man, Bryan Singer for X-Men, and Nolan. And finally, the triumph of The Dark Knight transformed a non-prestige genre into a key part of every studio’s strategy moving forward.
    </p>
    <p>
    While Batman Begins had one foot firmly planted in the pulpier side of the character, The Dark Knight was filmed like a gritty, atmospheric crime movie, with Nolan taking visual cues from Michael Mann’s bank-robber epic Heat. Rather than heightening Gotham City to the point that a man dressed as a bat makes sense as its public defender, Nolan turns Batman (Christian Bale) and the Joker (Heath Ledger) into jarring archetypes who are incongruous to the world of gangsters and cops around them, and symptoms of an increasingly polarized society of heroes and villains.
    
    Part of Batman’s quest in The Dark Knight is to push the attorney general Harvey Dent (Aaron Eckhart) as Gotham’s hero of the future, an effort that implodes when the Joker attacks and scars Dent, turning him into the monstrous villain Two-Face. Most comic-book antagonists have specific motives of world domination or personal revenge. But Nolan presents the Joker more as an elemental agent of chaos—one who’s interested only in upsetting the natural order of things wherever he goes, and who’s fascinated with Batman because he represents the opposite extreme. It’s a vision of evil as something trollish, amoral, and anarchic. “Some men just want to watch the world burn,” says Batman’s reliable butler, Alfred (Michael Caine)—a line that became an online refrain in the lead-up to the 2016 presidential election.
</p>

<br>

<h1>Despicable Me</h1>

<br>
<p>
    Longtime supervillain Gru has his pride hurt when an anonymous rival steals the Great Pyramid of Giza and replaces it with an inflatable replica. In retaliation, he, his elderly assistant Dr. Nefario, and his army of Minions concoct a plan to shrink and steal the Earth's Moon. Dr. Nefario worries they cannot afford this, so Gru applies for a loan from Mr. Perkins, the director of the Bank of Evil. Mr. Perkins asks Gru to impress him first by stealing the shrink ray. While at the bank, Gru meets young supervillain Vector, and learns he is the mastermind behind the Pyramid heist.

    Gru and two of his Minions successfully steal the shrink ray from a research base, but Vector intercepts them and steals it for himself. Gru attempts to steal back the shrink ray from Vector's fortress, only to get ambushed by numerous booby traps. He notices three orphan girls named Margo, Edith, and Agnes gain access to Vector's fortress because they are selling cookies for Miss Hattie, their orphanage matron. Gru decides to disguise himself as a dentist and adopt the girls, planning to use them in his plot to get the shrink ray back and return them once the scheme comes off.
    
    Gru's attempts at parenting are initially disastrous, as he has no clue what to do with children. Things are further complicated by their ballet practices, the girls discovering his underground lair, and Dr. Nefario's skepticism to his plan. Gru eventually manages to use the girls to distract Vector long enough for him to get the shrink ray back, but the girls insist upon stopping at a carnival on the way home. Gru finds himself enjoying his time with the girls, and they begin to bond.
    
    Gru shows Mr. Perkins via video call, that he has the shrink ray, though the girls interrupt the call. Mr. Perkins still claims he is not impressed, and refuses the loan. Seeing Gru sad that he would not be able to steal the Moon, the girls give him their piggy bank. Inspired, the Minions pool all their resources, and Gru begins to sell his belongings to raise the money needed for the project.
    </p>
    <p>
    Dr. Nefario calculates that they will have to go for the Moon when its orbit brings it closest to Earth, but the day is the same as the girls' ballet recital. Dr. Nefario, fearing that Gru is too distracted, calls Miss Hattie himself to tell her to take the girls back, believing it best for everyone. Meanwhile, Mr. Perkins (revealed to be Vector's father) informs him of Gru's possession of the shrink ray, prompting Vector to take action.
    
    Gru successfully shrinks and steals the Moon. He tries to make it home in time for the ballet recital, only to find out Vector had kidnapped the girls. Hurrying to the fortress, Gru gives Vector the Moon, but he refuses to hand over the girls. Gru fights his way through Vector's defenses, causing him to fly away with the girls and the Moon in his aircraft. Meanwhile, Dr. Nefario and the Minions discover that the effects of the shrink ray are only temporary: the larger the object, the faster it returns to normal size. They and Gru perform a daring mid-air rescue of the girls before the Moon returns to its normal size and launches itself into orbit, stranding Vector on it.
    
 </p>   

<br>

<h1>Top Gun Maverick</h1>
<br>

<p>
    When we catch up with the infamous Pete “Maverick” Mitchell in the trailer for Top Gun: Maverick, he’s still … just a captain, zooming around at his leisure, instead of rising in the Air Force ranks. It’s been decades since the original Top Gun came out, but when you really think about it, 34 years isn’t that long: Lady Gaga and Robert Pattinson were being born, Ronald Reagan was president, Salt-N-Pepa released their debut album, Hot, Cool & Vicious. It’s just enough time for Maverick to start training a gaggle of new recruits with razor-sharp jawlines: Miles Teller (playing Goose’s son), Glen Powell, and Manny Jacinto. The young pilots also get a bonus lesson: how to look hot (but casual) against a setting sun. That one’s free of charge and you can take it back to civilian life. Top Gun: Maverick also stars Ed Harris, Jon Hamm, and Jennifer Connelly. See it in theaters June 26, 2020
 </p>
 
 <p>
    The flight of Tom Cruise’s Top Gun: Maverick from the July 4 corridor to Thanksgiving isn’t causing the panic that such a move would have prompted a few months ago.

    While theater owners weren’t ecstatic to learn of Top Gun’s move, they’re confident there will be some semblance of a summer season based on a flurry of positive data regarding the recovery of the U.S. box office.
    </p>
<br>

<h1>Mission Impossible</h1>
<br>

<p>
    The 'Mission: Impossible' set has been plagued by trespassers.

    The latest movie in the action franchise, 'Mission: Impossible 7', is currently being filmed in Yorkshire but the cast and crew – which includes Tom Cruise – have been disrupted by thrill-seekers trying to climb the vast quarry in which the performers act out the dramatic stunts.
    
    A film insider told The Sun newspaper's Bizarre column: "The set is so large and open that it has been impossible to close it all off.
    
    "So trespassers have been getting in and attempting to scale the rigs and equipment set up for the stunts."
    
    The source added that police were called out after one incident while Tom, who plays agent Ethan Hunt in the franchise, was forced to intervene when it happened once more.
    </p>
    <p>
    It said: "It is a health-and-safety nightmare. Police were called to one incident last week and then Tom was forced to take action when it happened again.
    
    "This time two intruders were spotted clambering up the set, leading to security rushing to get them down.
    
    "The set looks exciting and these people think it's funny trying to get pictures of themselves there, but they don't realise how dangerous it is.
    
    "Extra security might have to be drafted in. Along with it being a safety nightmare, Tom and the team don't want any delays to filming."
    
    Cruise is famous for completing his own stunts but his co-star Simon Pegg admits that he can't help but feel a sense of dread when Tom performs the death-defying stunts.
    </p>

    <p>
        The 51-year-old actor said: "When you watch the movie and you see him do those stunts, and it's nail-biting and there's a real sense of genuine kind of peril because you know that it's him.

        "But you know he survived because he was on 'Good Morning America' that morning and he did some press. When we watch him do it, we have no idea if he's going to survive. So he takes a ride off a cliff, and everybody's just waiting for, 'Good canopy, good canopy, anybody?' It's terrifying."
        </p>


    </div>
</body>
</html>